<p id="notice"><%= notice %></p>

<h1> Menus</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Item name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.item_name.try(:titleize) %></td>
        <td><%= menu.quantity %></td>
        <td><%= number_to_currency(menu.price) %></td>
        <td><%= menu.category.name.try(:titleize) %></td>
        <td><%= link_to 'Show', menu %></td>
        <td><%= link_to 'Edit', edit_menu_path(menu) %></td>
        <td><%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu', new_menu_path, :class => "btn btn-primary" %>
