<p id="notice"><%= notice %></p>

<p>
  <strong>Item name:</strong>
  <%= @menu.item_name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @menu.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @menu.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @menu.category_id %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
