<%= form_for(@waiter) do |f| %>
  <% if @waiter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@waiter.errors.count, "error") %> prohibited this waiter from being saved:</h2>

      <ul>
      <% @waiter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.date_select :dob %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
