<p id="notice"><%= notice %></p>

<h1>Listing Waiters</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Dob</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @waiters.each do |waiter| %>
      <tr>
        <td><%= waiter.name %></td>
        <td><%= waiter.dob %></td>
        <td><%= link_to 'Show', waiter %></td>
        <td><%= link_to 'Edit', edit_waiter_path(waiter) %></td>
        <td><%= link_to 'Destroy', waiter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Waiter', new_waiter_path %>
