<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @waiter.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @waiter.dob %>
</p>

<%= link_to 'Edit', edit_waiter_path(@waiter) %> |
<%= link_to 'Back', waiters_path %>
