<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :mob_no %><br>
    <%= f.number_field :mob_no %>
  </div>
  <div class="field">
    <%= f.label :table_no_id %><br>
    <%= f.number_field :table_no_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
