<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Mob no:</strong>
  <%= @customer.mob_no %>
</p>

<p>
  <strong>Table no:</strong>
  <%= @customer.table_no_id %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
