= form_for(@order) do |f|
  - if @order.errors.any?
    #error_explanation
      %h2
        = pluralize(@order.errors.count, "error")
        prohibited this order from being saved:
      %ul
        - @order.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :table_no_id
    %br/
    = f.number_field :table_no_id
  .field
    = f.label :waiter_id
    %br/
    = f.select :waiter_id, options_for_select(Waiter.all.map{|w| [w.name, w.id] })
  .field
    %label Menu
    = select_tag "menus[]", options_for_select(Menu.all.map {|m| [m.item_name, m.id]}), multiple: "multiple"
  .field
    = f.hidden_field :is_paid, :value => false
  .actions
    = f.submit
