<p id="notice"><%= notice %></p>

<h2>Orders</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Table no</th>
      <th>Payment method</th>
      <th>Is paid</th>
      <th>Waiter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.payment_method %></td>
        <td><%= order.table_no_id %></td>
        <td><%= order.is_paid %></td>
        <td><%= order.try(:waiter).name %></td>
        <td><%= link_to 'Show', order %></td>
        <% unless order.try(:is_paid) %>
          <td><%= link_to 'Got Payment', { controller: "orders", action: "pay_amount", id: order.try(:id) } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Take an Order', new_order_path , :class=> "btn btn-primary" %>
