<%= form_for(@table_no) do |f| %>
  <% if @table_no.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table_no.errors.count, "error") %> prohibited this table_no from being saved:</h2>

      <ul>
      <% @table_no.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
