<p id="notice"><%= notice %></p>

<h1>Listing Table Nos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @table_nos.each do |table_no| %>
      <tr>
        <td><%= table_no.name %></td>
        <td><%= link_to 'Show', table_no %></td>
        <td><%= link_to 'Edit', edit_table_no_path(table_no) %></td>
        <td><%= link_to 'Destroy', table_no, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Table no', new_table_no_path %>
