
<div class="row">
  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">Day wise sale</h3>
      <p class="card-text"> 
		<%= column_chart Order.group_by_day_of_week(:created_at, format: "%a").count %>
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">Day wise order count</h3>
      <p class="card-text"> 
		<%= column_chart Order.group_by_day_of_week(:created_at, format: "%a").count %>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">Most Ordered</h3>
      <p class="card-text"> 
      	<%= pie_chart({"Coffee" => 70, "Bread" => 10,"Tea" => 50 }) %>
      </p>
    </div>
  </div>
  
  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">Waiter Presence</h3>
      <p class="card-text"> 
		<%= line_chart Order.group(:waiter_id).count %>
      </p>
    </div>
  </div>
</div>