<!DOCTYPE html>
<html>
<head>
  <title>Restsurent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse" role="navigation" style="top: 10px;">
  <div class="container" style="float: left;">
    <div class="navbar-header">
       <a class="navbar-brand" href="/">Restsurent</a>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Restsurent</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <li class="active"><a href="/">Report</a></li>
      <li><%= link_to "Orders", orders_path %></li>
      <li><%= link_to "Menu", menus_path %></li>
    </ul>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
